@import 'argon-design-system.min.css';
@import 'font-awesome.css';
@import 'nucleo-icons.css';

body{
    background: #fffaf3;
}

* {
    font-family: 'Roboto', sans-serif;
}

.btn-rounded{
    border-radius: 50px;
}

.app-logo{
    height: 60px !important;
}

.alert-area{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
}

/* Light navbar */
.top-navbar{
    padding-top: 0;
    padding-bottom: 0;
    background: #fff;
}

.top-navbar .nav-link{
    color: #172b4d !important;
    transition: .3s all !important;
    font-weight: 600;
    border-radius: 0;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-size: 1em;
    border: 2px solid #0000;
}

.top-navbar .nav-link:hover, .top-navbar .nav-link:focus, .top-navbar .nav-link:active{
    color: #f5365c !important;
}

.top-navbar .nav-link.active{
    color: #f5365c !important;
    border-bottom-color: #f5365c;
}

@media(max-width: 991px){
    .top-navbar .nav-item{
        border-top: 1px solid #ddd;
    }

    .top-navbar .nav-item:last-of-type{
        margin-bottom: 1rem;
    }

    .top-navbar .nav-link{
        padding: .75rem 1rem !important;
    }

    .top-navbar .nav-link.active{
        border-left-color: #f5365c;
        border-bottom-color: #0000;
        color: #172b4d !important;
        background: #f2f5f8;
    }
}


/* Red navbar */
.top-navbar.solid-color{
    background: #f5365c;
}

.top-navbar.solid-color .nav-link{
    color: #eee !important;
    font-weight: 600;
}

.top-navbar.solid-color .nav-link:hover,
.top-navbar.solid-color .nav-link:focus,
.top-navbar.solid-color .nav-link:active{
    color: #fff !important;
}

.top-navbar.solid-color .nav-link.active{
    color: #fff !important;
    border-bottom: 3px solid #fff;
}


/* Separator */
.sep{
    height: 6px;
    background: #f5365c;
    border-radius: 3px;
    display: block;
    width: 50px;
}

.section .section-title{
    font-weight: 700;
    color: #333;
    font-size: 40px;
}


.has-background{
    position: relative;
}

.background{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.foreground{
    background: rgba(0, 0, 0, .9);
}


.content-area{
    background: #fff;
    border-radius: 30px;
    padding: 1.5rem;
    border: 1px solid #ddd;
}


/* INPUTS */
.input-group{
    background-color: #efefef;
    transition: .2s all !important;
}

.input-group:focus-within{
    background-color: #fff;
    transition: .2s all !important;
}

.input-group>*{
    border-color: #efefef !important;
    border-width: 2px !important;
    border-style: solid;
}

.input-group .input-group-prepend{
    border-right: none;
    border-radius: .3rem 0 0 .3rem;
    transition: .2s all !important;
    background-color: transparent;
}

.input-group .input-group-append{
    border-left: none;
    transition: .2s all !important;
    background-color: transparent;
}

.input-group .form-control{
    transition: .2s all !important;
    background-color: transparent;
}

.input-group>*:last-child{
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

.input-group:focus-within .form-control{
    border-color: #4285f4 !important;
    transition: .2s all !important;
}

.input-group:focus-within .input-group-prepend{
    border-color: #4285f4 !important;
    transition: .2s all !important;
}

.input-group:focus-within .input-group-append{
    border-color: #4285f4 !important;
    transition: .2s all !important;
}

.input-group .input-group-text i{
    color: #8988aa;
    transition: .2s all;
}

.input-group:focus-within .input-group-text i{
    color: #495057;
    transition: .2s all;
}

.input-group .input-group-text{
    border: none;
    background-color: transparent;
}

.form-control{
    color: #333 !important;
}

.form-control::placeholder, .form-control:focus::placeholder{
    color: #495057;
}

.form-group label{
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 5px;
}


/* MISCELLANEOUS */
/* A light blue background info box */
.info{
    background: #007bff20;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: start;
}

/* Rounded with some light dark background */
.info .info-icon{
    color: #007bff;
    font-weight: 800;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    height: 30px;
    font-size: 1.4em;
    border-radius: 50%;
}

.info .text{
    margin-left: 1rem;
}

.separator-dot{
    width: 6px;
    height: 6px;
    font-size: 7px;
    border-radius: 50%;
    display: inline-flex;
    align-self: center;
    margin: 0 8px;
}

