@import '../admin.css';

body{
    background: #fafafa;
}


/* SIDENAV */
.sidenav{
    padding-top: 1.5rem;
    margin-top: calc(2.25rem + 1.5em + 2px);
}

.sidenav .sidenav-items a{
    padding: .6rem 1rem;
    color: #333;
    margin-bottom: .5rem;
    border-radius: 50px;
    font-weight: 500;
    transition: .25s all !important;
    display: flex;
    align-items: center;
}

.sidenav .sidenav-items a i{
    display: inline-flex;
    width: 30px;
    height: 30px;
    color: #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: .75rem;
}

.sidenav .sidenav-items a:not(.active):hover,
.sidenav .sidenav-items a:not(.active):focus
{
    background: #eaeaea;
}

.sidenav .sidenav-items a.active{
    color: #fff;
    background: #f5365c;
}

.sidenav .sidenav-items a.active i{
    color: #fff;
    background: transparent !important;
}


.sidebar{
    max-width: 260px;
}

@media (min-width: 992px) {
    .main{
        margin-left: 260px;
    }

    .main-content{
        margin-left: 260px;
    }
    
    .header{
        margin-left: 260px;
    }
  }

