body{
    background: #fafafa;
}


/* SIDENAV */
.sidenav{
    /* position: fixed; */
    /* top: 0;
    bottom: 0;
    left: 0; */
    /* margin-top: calc(2.25rem + 1.5em + 2px); */
    width: 300px;
}

.sidenav > div{
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-darkshadow-color: transparent;
}

.sidenav .sidenav-items a{
    padding: .6rem 1rem;
    color: #333;
    margin-bottom: .5rem;
    border-radius: 50px;
    font-weight: 500;
    transition: .25s all !important;
    display: flex;
    align-items: center;
}

.sidenav .sidenav-items a i{
    display: inline-flex;
    width: 30px;
    height: 30px;
    color: #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: .75rem;
}

.sidenav .sidenav-items a:not(.active):hover,
.sidenav .sidenav-items a:not(.active):focus
{
    background: #eaeaea;
}

.sidenav .sidenav-items a.active{
    color: #fff;
    background: #f5365c;
}

.sidenav .sidenav-items a.active i{
    color: #fff;
    background: transparent !important;
}


@media (max-width: 300px) {
    .sidenav.open > div{
        width: 100% !important;
    }
}

@media (max-width: 576px) {
    .sidenav{
        margin-top: calc(2.25rem + 1.5em + 2px);
    }
}

@media (max-width: 992px) {
    .sidenav{
        width: 100%;
        background: rgba(0,0,0,.05);
        transition: .25s all !important;
    }

    .sidenav.open{
        display: block !important;
        z-index: 1000;
    }

    .sidenav > div{
        width: 0;
        transition: .25s all !important;
    }

    .sidenav.sidenav.open > div{
        width: 300px;
        background: #fff;
        box-shadow: 3px 0 5px rgba(0,0,0,.3);
    }
}


  @media (min-width: 992px) {
    .main{
        margin-left: 300px;
    }
  }

  @media (min-width: 1200px) {

    .sidenav{
        left: 15px;
    }

    .main{
        margin-left: 300px;
    }
}













/* .sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    display: block;
    overflow-y: auto;
    width: 100%;
    max-width: 250px;
    padding-right: 0;
    padding-left: 0;
    background: #fff;
    box-shadow: 3px 0 3px 0 rgba(0,0,0,.05);;
    left: 0;
    z-index: 1000;
}

.sidebar-header{
    height: 65px;
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.sidebar-header .logo, .logo-on-sm .logo {
    height: 50px;
}

.page-content{
    margin-left: 250px;
    min-height: 80vh;
}

.menu-button{
    display: none;
    cursor: pointer;
}

@media(max-width: 767px){
    .page-content{
        margin-left: 0px;
    }

    .sidenav{
        left: -260px;
        transition: .3s all !important;
    }

    .sidenav.open{
        left: 0px;
    }

    .menu-button{
        display: block;
    }
}


@media(max-width: 300px){
    .sidenav{
        width: 100% !important;
        max-width: 100% !important;
        box-shadow: none;
    }

    .sidenav:not(.open){
        left: -100%;
    }
} */

