.statuses{
    overflow-x: hidden;
    white-space: nowrap;
}

.statuses a{
    display: inline-block;
    color: #444;
    padding: 10px 15px;
    font-weight: 800;
    border-radius: .3rem;
    transition: .25s all !important;
    background: #eee;
}

.statuses a:not(:last-child){
    margin-right: 5px
}

.statuses a.active{
    background: #172b4d;
    color: #fff;
}

.statuses a:not(.active):hover,
.statuses a:not(.active):focus
{
    color: #172b4d;
}

.order{
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    color: inherit !important;
}

.order.unassigned{
    box-shadow: 0 0 5px 1px #ff7f5090;
}

.order .order-icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 1.6em;
}




/* SINGLE ORDER PAGE */
.attachment{
    display: block;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    margin-bottom: 1rem;
    background: #fff;
}

.attachment:hover{
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    background: #00000002;
}

.attachment .preview{
    display: block;
    height: 120px;
    padding: 1rem;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid #eee;
}

.attachment .preview img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.attachment .preview .preview-icon{
    font-size: 2.5em;
    color: #999;
    display: inline-flex;
    align-self: center;
    justify-self: center;
}

.attachment .name{
    /* Should end with ellipses if long */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px !important;
    padding: 1rem;
}



/* Message styles */
.message{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.message.sent{
    margin-left: auto;
}

.message.sent .message-header{
    text-align: right;
}

.message .message-body{
    border-radius: 10px;
    padding: 1rem;
    margin-top: .5rem;
    border: 1px solid #ddd;
    background: #fff;
}

.message.continuous .message-header{
    display: none;
}

.message.is_answer .message-body{
    border: 1px solid #2dce89;
}

.message.is_answer .attachment{
    background: #eee;
}

.message .avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.message .meta{
    font-size: .9em;
}
